body {
    border: solid 1px gray;
}


h1, h2, h3, h4 {
    font-family: sans-serif;
}

h3 {
    color: gray;
    margin-top: -4px;
}

.header-text {
    text-align: center;
    border-bottom: solid 1px gray;
    padding: 20px;
    margin-bottom: -1px;
}


.container {
}

nav {
    display: inline-block;
    vertical-align: top;
    padding: 20px;
    position: absolute;
    width: 159px;
    font-family: sans-serif;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    display: block;
    margin-top: 10px;
}

nav a {
    color: black;
}

.current-page {
    font-weight: bold;
}

.main-content {
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    border-right-width: 0;
    display: inline-block;
    vertical-align: top;
    padding: 20px;
    margin-left: 200px;
    width: calc(100% - 242px); /* margin left + padding + padding + border + border = 242 */
    min-height: 200px;
}

.footer {
    width: calc(100% - 40px);
    border-top: solid 1px gray;
    margin-top: -1px;
    padding: 20px;
}